<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<link rel="shortcut icon" href="/favicon.ico">
<head>
  <title>Nostr Request WebClient</title>
  <link rel="stylesheet" href="/bootstrap-3.3.7.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link href="/main.css" rel="stylesheet">
  <script src="/js/jquery-3.7.1.min.js"></script>
  <script src="/js/register.js"></script>
  <script src="/js/req-reputation.js"></script>
  <script src="/js/common.js"></script>
</head>
<body>
<noscript><h2 style="color: #ff0000">Enable Javascript to view this page</h2></noscript>
<main>
  <h1>Reputation Request WebSocket</h1>
  <form class="form-inline center">
    <div class="form-group">
      <button tabindex="1" id="connect" class="btn btn-default" type="submit">Connect</button>
      <button tabindex="1" id="disconnect" class="btn btn-default" type="submit" disabled="disabled">Disconnect</button>
      <button tabindex="1" id="reqclose" class="btn btn-default" type="submit" disabled="disabled">Nostr Close
        Disconnect
      </button>
    </div>
  </form>
  <hr>

  <div class="tabs">
    <input class="radiotab" name="tabs" tabindex="1" type="radio" id="tabtwo" checked="checked">
    <label class="label" for="tabtwo">Search Filters:</label>
    <div class="panel">
      <div class="col-md-6">
        <form class="form-inline">
          <div class="form-group">
            <label for="subscription_id">Subscription Id:</label>
            <select name="subscription_id" id="subscription_id">
              <option value="ReqClient-001">ReqClient-001</option>
              <option value="ReqClient-002">ReqClient-002</option>
              <option value="ReqClient-003">ReqClient-003</option>
            </select>
          </div>
          <div class="form-group">
            <label for="referencePubKeys">Referenced PubKey: </label>
            <input tabindex="1" type="text" value="" id="referencePubKeys" name="referencePubKeys" class="form-control" placeholder="">
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-inline">
                <div class="center gap">
                  <button id="sendreprequest" class="btn btn-default" type="submit" disabled="disabled">Send Reputation Request
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <h4>Matched Events</h4>
  <div class="row">
    <div class="col-md-12">
      <table id="conversation" class="table table-striped">
        <tbody id="events">
        </tbody>
      </table>
    </div>
  </div>
</main>
</body>
</html>
